# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock
**/.packages

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/google-services.json
**/android/app/debug.keystore
**/android/app/release.keystore

# iOS
**/ios/.symlinks/
**/ios/Pods/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
.vscode/
*.iml

# Firebase
**/google-services.json
**/GoogleService-Info.plist
**/firebase_options.dart

# Environment / secrets
**/.env
**/secrets/

# macOS
.DS_Store
